  <div id="teaser">
    <div class="wrap">
      <div id="image"></div>
      <div class="box">
        <h2>Editing referral_recipient</h2>
        <p><%= render 'form' %></p>
      </div>
    </div>
  </div>


<%= link_to 'Show', @referral_recipient %> |
<%= link_to 'Back', referral_recipients_path %>
