
  <div id="teaser">
    <div class="wrap">
      <div id="image"></div>
      <div class="box">
        <h2>Input your Referral Code</h2>
        <p><%= render 'form' %></p>
      </div>
    </div>
  </div>
  	<div id="bar">
		<div class="wrap">
		</div>
	</div>

<h1></h1>
<p></p>
</div>
</div>

<br></br><br></br><br></br><br></br><br></br><br></br>
			
		</div>
	</div>