
  <div id="teaser">
    <div class="wrap">
      <div id="image"></div>
      <div class="box">
        <h2>Input your Referral Code</h2>
        <p></p>
      </div>
    </div>
  </div>
  	<div id="bar">
		<div class="wrap">
		</div>
	</div>
<div class="container">
<div class="center_div">
<h1></h1>
<p><%= render 'form' %></p>
</div>
</div>


			
		</div>
	</div>