<div id="teaser">
		<div class="wrap">
			<div id="image"></div>
			<div class="box">
				<h2>Welcome to Referral Love</h2>
				<p>Cardigan carles artisan quis, tattooed truffaut cliche in tempor high life. Placeat you probably haven't heard of them semiotics, sed stumptown godard assumenda eiusmod mustache butcher sartorial ea tempor laboris. Direct trade reprehenderit odd future, messenger bag banh mi selvage organic umami. Mixtape art party incididunt, sriracha narwhal raw denim mollit. Dolore ex cosby sweater reprehenderit polaroid. </p>
			</div>
		</div>
	</div>
		<div id="bar">
		<div class="wrap">
			<span class="step"><a>1</a> Share your referral codes</span>
			<span class="step"><a>2</a> Other users use your codes</span>
			<span class="step"><a>3</a> Profit</span>
		</div>
	</div>
	<div class="wrap">
		<div class="col">
			<h3>What's <span class="red">Referral Love?</span></h3>
			<p>Tumblr laborum irony, put a bird on it banh mi cardigan single-origin coffee in tofu est readymade tempor kale chips. Consequat gastropub nostrud, viral laborum occaecat sustainable before they sold out raw denim iphone keytar deserunt. Raw denim lomo nihil, velit godard direct trade narwhal laboris. Seitan velit elit, pour-over commodo ennui mlkshk mumblecore sunt gastropub cred semiotics flexitarian laboris. Chillwave gastropub eu skateboard, artisan ut master cleanse jean shorts trust fund ea occupy delectus mcsweeney's. Vegan magna cosby sweater locavore twee. Etsy vinyl ut sint, banksy Austin trust fund minim banh mi DIY occupy sustainable blog fanny pack polaroid.</p>
		</div>
		<div class="col">
			<h3>User <span class="red">Statistics</span></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer porta, ipsum sit amet ultricies congue, ante pede congue pede, id venenatis ante elit et nulla. Ut lectus nisi, convallis in, eleifend vitae, blandit non, orci. Aliquam eget ante. Cras orci ante, interdum ac, euismod et, euismod in, eros. Cras vestibulum elit quis arcu. Suspendisse lectus ligula, posuere ut, ullamcorper eget, lobortis et, tellus. Suspendisse pulvinar metus.</p>
		</div>
		<div class="col last">
			<h3>About <span class="red"></span></h3>
			<p></a>.</p>
		</div>
	</div>


		
