<div id="teaser">
		<div class="wrap">
			<div id="image"></div>
			<div class="box">
				<h2>Welcome to Referral Love</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis justo viverra nunc. Donec eu ipsum molestie eros condimentum malesuada. Sed quis velit vel augue sollicitudin aliquet. Quisque dignissim. Proin vehicula sem tempor velit. Pellentesque aliquam ante vitae pede. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis justo viverra nunc.</p>
			</div>
		</div>
	</div>
		<div id="bar">
		<div class="wrap">
			<span class="step"><a>1</a> Share your referral codes</span>
			<span class="step"><a>2</a> Other users use your codes</span>
			<span class="step"><a>3</a> Profit</span>
		</div>
	</div>


		
