
  <div id="teaser">
    <div class="wrap">
      <div id="image"></div>
      <div class="box">
        <h2>You have successfully imported a referral code</h2>
        <p> Add another code?</p>
        <p> Signup for services using a referral code?</p>
      </div>
    </div>
  </div>