h1
	{
	font-family:"Arial";
	text-align:center;
}

u1, li {
        margin:0;
        padding:0;
        list-style-type:none;
  }
  .invalid {
    
        background:url('/assets/cross.png') no-repeat 0 50%;
        padding-left:22px;
        line-height:24px;
        color:#ec3f41;
  }
  .valid{
        background:url("/assets/accept.png") no-repeat 0 50%;
        padding-left:22px;
        line-height:24px;
        color:#3a7d34;
  }
 #pswd_info {
        position:absolute;
        bottom:55px;
        bottom: -115px\9;
        left:330px;
        width:250px;
        padding:15px;
        background:#fefefe;
        font-size:.875em;
        border-radius:5px;
        box-shadow:0 1px 3px #ccc;
        border:1px solid #ddd;
  }
  #pswd_info h4 {
        margin: 0 0 10px 0;
        padding:0;
        font-weight:normal;
  }
  #pswd_info::before {
        content: "\25C4";
        position:absolute;
        top:57px;
        left:-4%;
        font-size:16px;
        line-height:14px;
        color:#ddd;
        text-shadow:none;
        display:block;
  }
  #pswd_info {
       display:none;
  }


.container
	{
	text-align:center;
}

.center_div
	{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	background-image:url("assets/circle.png") no-repeat center center;
	text-align:left;
	padding:8px;
  padding-bottom:30px;
  padding-top:30px;
}

body {
  /*background:#5d9ab2 url('img_tree.png') no-repeat top left;*/
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }